@model TimiPro.Models.Imovel

@{
    ViewData["Title"] = "Detalhes Imóvel";
}

<h3>Detalhes do Cadastro de Imóvel</h3>

<div>
    <h4>Imóvel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar Dados</a> |
    <a asp-action="Index">Voltar</a>
</div>
